@charset "utf-8";
/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
}

@font-face {
	font-family:"montserrat";
	src: url("Font/Montserrat-Regular.ttf")format("truetype");
}

@media screen and ( max-width : 1366px ){

/* Responsive adaptado a Android small 1366x768 */
	
/* ------VENTANA CHAT Y ACCESIBILIDAD---------*/
	
.ventana{
	padding: 25px;
}
	
.ventana-accesibilidad {
	position: fixed;
	bottom:105px;
	right:50px;
}
	
.ventana-chat{
	position: fixed;
	bottom: 25px;
	right: 50px;
}

/*---------------------------------------------*/

body{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
}

h2{
	font-size: 48px;
	font-weight: 600;
	color: #FFFFFF;
}

h3{
	font-size: 36px;
	font-weight: 500;
	color: #136284;
	display:flex;
	justify-content: center;
	padding-bottom: 30px;

}

h4{
	font-size: 20px;
	font-weight: 500;
	color: #136284
}

h5{
	font-size: 18px;
	font-wight: 500;
	color: #000000
}

/*-----PAGINA DE BIENVENIDA-----*/


/*----LANDING PAGE/PAGINA PRINCIPAL-----*/

.cuadro {
	border: 2px solid #F68C0F;
	border-radius: 11px;
	padding: 60px;
	margin-right: 5%;
	margin-left: 5%;

}

/*----carrousel----*/

.carrousel{
	padding-top:100px;
	max-width: 1040px;
	margin: 0 auto;
	
}
.carrousel_elementos{
	margin: 30px;
	position: relative;
	transition: all ease 0.3s;
	
}
.carrousel_lista{
	text-align: center;
	justify-content: flex-start;
	display: flex;
}

.carrousel_anterior, .carrousel_siguiente {
	display: block;
	background-color: white;
	width: 30px;
	height: 30px;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	opacity: 50%;
	border: 0px;
}

.carrousel_anterior:hover, .carrousel_siguiente:hover{
	opacity: 100%;
}

.carrousel_anterior{
	left: -30px;
}

.carrousel_siguiente{
	right: -30px;
}

/*----PAGINA DE PERSONAS----*/

/*----PAGINA DE EMPRESAS----*/
}