@charset "utf-8";
/* CSS Document */
*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

@font-face {
	font-family:"montserrat";
	src: url("Font/Montserrat-Regular.ttf")format("truetype");
}
@media screen and ( max-width : 1366px ){

.frase{
		width: 650px;
		height: 248px;
		margin-top: 10%;
		padding-left: 2%;
}
	

.frase img{
			margin-bottom: 2%;
				
}


.frase p{
		font-family: "montserrat";
		font-weight: normal;
		font-size: 30pt;
		width: 650px;
}


.imageninicio img{
				margin-top: 20%;
				padding-left: 2%;
}


.grupo1{
		display: flex;
}


/*------------------------------------------------*/

nav ul li{
		display: inline;
}


ul{
	padding-top: 5%;
}


li{
	background-color: #F68C0F;
	border-radius: 10px;
	padding: 30px;
	margin: 15px;
}


a{
	font-family: "montserrat";
	font-weight:500;
	font-size: 24pt;
	color:#FFFFFF;
	width: 210px;
	height: 79px;
}


a:hover{
	color: #136284;
/*	font-size: 2em;
	background-color: #136284;*/
	border-radius: 10px;
	}
}