@charset "utf-8";
/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style: none;
}

@font-face {
	font-family:"montserrat";
	src: url("Font/Montserrat-Regular.ttf")format("truetype");
}

@media screen and ( max-width : 1366px ){

/* Responsive adaptado a Android small 1366x768 */

/*----------------body-----------------------*/

body{
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	list-style: none;
}

/*-----PAGINA DE BIENVENIDA-----*/

.frase{
		width: 650px;
		height: 248px;
		margin-top: 10%;
		padding-left: 2%;
}
	

.frase img{
			margin-bottom: 2%;
				
}


.frase p{
		font-family: "montserrat";
		font-weight: normal;
		font-size: 30pt;
		width: 650px;
}


.imageninicio img{
				margin-top: 20%;
				padding-left: 2%;
}


.grupo1{
		display: flex;
}



/*------------------botones de bienvenida------------*/

nav ul li{
		display: inline;
}


ul{
	padding-top: 5%;
}



/*oculte el codigo de las botoneras, por que aparece en todas las paginas y no recuerdo como encerrarlo para que aparezca solo en la pantalla que quiero. puede que lo este haciendo mal, pero no veo cual es el problema si lo ven genial*/

/*li{
	background-color: #F68C0F;
	border-radius: 10px;
	padding: 30px;
	margin: 15px;
}*/

/*a{
	font-family: "montserrat";
	font-weight:500;
	font-size: 24pt;
	color:#FFFFFF;
	width: 210px;
	height: 79px;
}

a:hover{
	color: #136284;
}
*/
/*------------------------------------------------*/

/* ------VENTANA CHAT Y ACCESIBILIDAD---------*/
	
.ventana{
	padding: 25px;
}
	
.ventana-accesibilidad {
	position: fixed;
	bottom:105px;
	right:50px;
}
	
.ventana-chat{
	position: fixed;
	bottom: 25px;
	right: 50px;
}
/*----LANDING PAGE/PAGINA PRINCIPAL-----*/


/*----carrousel----*/

.carrousel{
	padding-top:100px;
	max-width: 1040px;
	margin: 0 auto;
	
}
.carrousel_elementos{
	margin: 30px;
	position: relative;
	transition: all ease 0.3s;
	
}
.carrousel_lista{
	text-align: center;
	justify-content: flex-start;
	display: flex;
}

.carrousel_anterior, .carrousel_siguiente {
	display: block;
	background-color: white;
	width: 30px;
	height: 30px;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	opacity: 50%;
	border: 0px;
}

.carrousel_anterior:hover, .carrousel_siguiente:hover{
	opacity: 100%;
}

.carrousel_anterior{
	left: -30px;
}

.carrousel_siguiente{
	right: -30px;
}

/*----PAGINA DE PERSONAS----*/

/*----PAGINA DE EMPRESAS----*/
}
