@charset "utf-8";
/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	list-style-type: none;
	font-family: 'Montserrat', sans-serif;
}

/* -------------------chat y accesibilidad------------------------*/

/* -------------------chat y accesibilidad------------------------*/
.ventana-accesibilidad, .ventana-chat {
	position: fixed;
	bottom:45%;
	right:50px;
}

/*-----chat----*/
.ventana-chat{
	bottom: 290px;
	
}

.container_accesibilidad-chat{
	position: fixed;
	bottom:300px;
	right:10px;
	justify-content: center;
	z-index: 5;
}

.ventana-chat{
	color: white;
	height: 60px;
	border-radius: 50%;
	opacity: 0.8;
	transition: opacity 0.3s;
	box-shadow: 0 5px 5px rgba(0,0,0,0.4);
}

.emoji,.submit{
	border:none;
	outline: none;
	cursor: pointer;
}

.chat_accesibilidad{
	max-width: 1100px;
	margin: auto;
	text-align: center;
	padding: 0 1rem;
}

.ventana-chat:hover, .submit:hover, #emoji-btn:hover{
	opacity: 1;
}

.chat-popup{
	display: none;
	position: fixed;
	bottom:280px;
	right:160px;
	height: 400px;
	width: 300px;
	background-color: white;
	/* display: flex; */
	flex-direction: column;
	justify-content: space-between;
	padding: 0.75rem;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.4);
	border-radius: 10px;
}

.show{
	display: flex;
}

.chat-area{
	height: 80%;
	overflow-y: auto;
	overflow-x: hidden;
}

.income-msg{
	display: flex;
	align-items: center;
}

.avatar{
	width:45px;
	height: 45px;
	border-radius: 50%;
	object-fit: cover;
}
.income-msg .msg, .my-msg{
	border: 2px solid #0D4A64;
	border-radius: 30px 30px 30px 0px;
	color: #0D4A64;
	padding:0.5rem;
	margin-left: 1rem;
	box-shadow: 0 2px 5px rgba(0,0,0,0.4);
	font-size: 11px;
	font-weight: 500;
}

.badge{
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: red;
	color:white;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	top:-10px;
	right: -10px;
}

.input-area{
	position: relative;
	display: flex;
	justify-content: center;
}

input[type="text"]{
	width:100%;
	border: 1px solid #ccc;
	font-size: 1rem;
	border-radius: 16px;
	height: 2.2rem;
}

#emoji-btn{
	position: absolute;
	font-size: 1.2rem;
	background: transparent;
	right: 50px;
	top:2px;
	opacity:0.5;
}

.submit{
	padding: 0.25rem 0.5rem;
	margin-left: 0.5rem;
	background-color: #F58B11;
	color:white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
	opacity: 0.7;
}

.out-msg{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.my-msg{
	border-radius: 30px 30px 0px 30px;
}

/*@media (max-width:500px){

	.chat-popup{
		bottom: 120px;
		right:10%;
		width: 80vw;
	}
}*/

/*---------------------------accesibilidad------------------------------*/

#contenedor-accesible{
	position: fixed;
	bottom:22%;
	right:50px;
	z-index: 20;
}

.accesibilidad-ventana {
	position: fixed;
	width: 15%;
	height: 65%;
	right: 50px;
	bottom: 22%;
	border-radius: 30px 30px 0px 30px;
	border: 3px solid #A5D3E7;
	background-color: #A5D3E7;
	display: none;
	padding-left: 15px;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
	align-items: center;
}

.h4accesible{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 27px;
}

.accesibilidad-ventana div{
	display: flex;
	flex-direction: row;
	align-content: center;
	align-items: center;
	justify-content: space-around;
	border-radius: 30px;
	width: 90%;
	height: 62px;
	background-color: aliceblue;
	border: 2px solid aliceblue;
	margin-top: 13px;
	flex-wrap: nowrap;
}


.accesibilidad-ventana :hover{
	color: #000000;
	font-weight: 600;
}

#cerrar{
	width: 20px;
	height:20px;
	position: absolute;
	top: 500px;
	right:10px;
}

.ordenaraccesibilidad{
	display: flex;
	flex-direction: row;
	align-content: space-between;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	
}


/*-------------------------h1 h2 h3 h4 h5 p-----------------------------*/

	
h1{
	font-size: 2.25em;
	font-weight: 400;
}
	
h2{
	font-size: 1.25em;
	font-weight: 400;
}

h3{
	font-size: 2.25em;
	font-weight:500;
	color: #136284;
}

h4{
	font-size: 1.25em;
	font-weight: 500;
	color: #136284;
}

h5{
	font-size: 0.875em;
	font-weight: 400;
}

p{
	font-size: 1.2em;
	font-weight: 400;
}
/*----------------------------body---------------------------------*/

body{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #F9F8FF;
	/*height: 100vh;*/
	width: 100%;
	max-width: 1920px;
}

/*--------------------------------header--------------------------*/

header{
	width: 95%;
	height: auto;
	border-bottom: solid 2px #F68C0F;
	padding: 20px;
}

header nav{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

nav ul li{
	display: inline;
}

.nav-mobile{
	display: none;
}

.buscasempleo{
	font-size: 1.125em;
	font-weight: 400;
	color: #696969;
	margin-right: 40px;
}

.buscasempleo:hover{
	color: #1B1B1B;
	font-weight: 600;
}

.ulheader{
	margin-top: 50px;
}
.crearcuenta, .ingresar{
	width: 170px;
	height: 60px;
	font-size: 1.125em;
	margin-left: 40px;
	border-radius: 10px;
	border: 2px solid #136284;
}

.crearcuenta{
	background-color: #F9F8FF;
}

.crear{
	color:#136284;
}

.ingresar{
	background-color: #136284;
}

.aingresar{
	color: #FFFFFF;
}

/*---------------------------Footer-----------------------------------*/
.footer{
	width: 95%;
	height: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	margin: 50px;
	border-top: 3px solid #999999;
}

.iconos-footer{
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*------------------------------------index-----------------------------*/

.img-bienvenida{
	padding: 30px;
	width: 401px;
	height: 401px;
	background-image: url("img/ilus1.png");
	background-size: 100%;
	background-repeat: no-repeat;
	animation: img-bienvenida alternate 1.5s infinite ease-in-out;
	display: flex;
	align-items: center;
}

@keyframes img-bienvenida{

0% {
	background-image: url("img/ilus2.png");
}
50% {
	background-image: url("img/ilus3.png");
}
100% {
	background-image: url("img/ilus4.png");
}
0% {
	background-image: url("img/ilus2.png");
}
}

h1 {
	width: 650px;
	margin-top: 10%;
}

.indexsection {
	display: flex;
	margin-top: 5%;
	padding-left: 3%;
}

.botonesindex{
	margin-top: 50px;
}

.naranja{
	width: 300px;
	height: auto;
	background-color: #F68C0F;
	border: 2px solid #F68C0F;
	border-radius: 10px;
	font-weight: 500;
	font-size: 1.5em;
	color: #FFFFFF;
	padding: 15px;
	margin: 15px;
}

.versitio{
	color: #FFFFFF;
} /*----falta el hover-----*/

.body-home{
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	padding-bottom: 10%;
	margin-top: 3%;
}

/*-------------------cononcenos------------*/
.conocenosp{
	width: 800px;
	margin: 35px;
}

.apartado_conocenos{
	width: auto 0;
	height: 50px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 150px;
}

/*----------conocenos-------*/

.apartado_conocenos{
	width: auto 0;
	height: 50px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 150px;
}

.conocenosp{
	width: 800px;
	margin: 35px;
}

.apartado_conocenos{
	width: auto 0;
	height: 50px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 150px;
}
/*----------conocenos-------*/

.apartado_conocenos{
	width: auto 0;
	height: 50px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 150px;
}

.conocenosp{
	width: 800px;
	margin: 35px;
}

.apartado_conocenos{
	width: auto 0;
	height: 50px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 150px;
}
/*----------conocenos-------*/

.apartado_conocenos{
	width: auto 0;
	height: 50px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 150px;
}

.conocenosp{
	width: 800px;
	margin: 35px;
}

.apartado_conocenos{
	width: auto 0;
	height: 50px;
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 150px;
}
/*-------------------hover------------------------------*/
.cv, .empresa{
	background-color: #F18A12;
	border-color: #F18A12;
	border-radius: 10px;
	width: 580px;
	height: 260px;
	color: #FFFFFF;
	font-size: 1.5em;
	font-weight:600;
}

.empresa{
	background-color: #136284;
	color: #136284;
}

.cv:hover {
	background-image: url(img/iconos/ilustracion-cv.svg);
	background-repeat: no-repeat;
	background-position: left;
}

.empresa:hover{
	background-image: url("img/iconos/ilustracion-empresa.svg");
	background-repeat: no-repeat;
	background-position: left;
}


.cvh2:hover{
	color: #FFFFFF;
	font-weight: 600;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	
}


button div h2{
	display: flex;
	flex-direction: column;
	align-content: flex-end;  
	color: #FFFFFF;
	font-weight: 600;
	width: 250px;
}
/*------------------------Formularios--------------------*/
form{
	border: 2px solid #F68C0F;
	border-radius: 10px;
	width: 1200px;
	height: 700px;
	margin: 3%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
form h3{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}
form h2{
	display: flex;
	justify-content: center;
	margin-top: 15px;
}


.dividircolumna{
	display: flex;
	justify-content: space-around;
}

.columna{
	width: 450px;
	height: 600px;
	display: flex;
	flex-direction: column;

}

.columna input{
	width: 450px;
	height: 60px;
	border-radius: 10px;
	background-color: #F9F8FF;
	border: 2px solid #136284;
}

.columna label{
	width: 500px;
	height: 50px;
	padding-left: 15px;
	padding-top: 70px;
	
}

.columna .boton{
	width: 178px;
	height: 60px;
	margin-let: 155%;
	margin-top: 20px;
	color: #FFFFFF;
	background-color: #136284;
}

/*------------------------paginas empresas--------------------*/

.ajustes-razonables{
	width: 50%;
	height: auto;
	padding-top: 50px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
	flex-direction: row;
	text-align: center
}

.ajustes-razonables-iconos{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	padding-bottom: 100px;
	padding-top: 70px;
	width: 1300px;
}

dl{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.link-de-ley{
	margin: 50px;
}

.link-de-ley h3{
	width: 100%;
	height: 80px;
	padding-top: 30px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 20px;
	border: 2px solid #136284;
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.ordenar{
	display: flex;
	flex-direction: row;
	padding: 50px;
	justify-content: space-around;
}

/*----------------------------------Puestos de trabajo, html personas-----------------------------------*/
.puestostrabajo{
	border: 2px solid #136284;
	border-radius: 10px;
	width: 500px;
	height: 300px;
	margin: 2%;
	font-size: 1.25em;
}
.puestostrabajo p {
	font-size: 1em;
}
.hola{
	display: flex;
	justify-content: space-between;
	margin: 10px;
}
.ordenpuestos{
	width: 1200px;
	height: auto;
	display: flex;
}
.puestostrabajo span{
	color: #136284;
	font-weight: 500;
}
.hola h4 {
	font-weight: bold;
}
.puestosancho{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 300px;
}

.ordenpuestos{
	width: 1200px;
	height: auto;
	display: flex;
}
.puestostrabajo span{
	color: #136284;
	font-weight: 500;
}
.hola h4 {
	font-weight: bold;
}

.hola p{
	width: 200px;
}
.anchodepuestos{
	width: 480px;
	padding: 10px;
}

.botonenviar-personas{
	width: 120px;
	height: 50px;
	background-color: #136284;
	border-radius: 10px;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer;
	display: flex;
    align-items: center;
    justify-content: center;
}

.boton-a{
	display: flex;
    justify-content: flex-end;
    padding-bottom: 0px;
    margin: 9px;
}

.botonenviar-personas:hover{
	background-color:aliceblue;
	border: 2px solid #136284;
	color: #136284;
}

/*----------------------------------HOME-----------------------------------*/

.centrado{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.centrado-empresas{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.navegador{
	width: 70%;
	height: 74px;
	padding-left: 30px;
	border-radius: 10px;
	border: 2px solid #F68C0F;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.lupa{
	padding-right: 25px;
}

.buscador{
	width: 90%;
	height: 74px;
	padding-left: 3%;
	border-left: 1px solid #F18A12;
	border-bottom: 0px solid; 
	border-top: 0px solid;
}

/*-------------------------------*/
.buscatrabajo{ 
	width: 190px;
	height: 76px;
	font-size: 1.125em;
	border-radius: 0px 10px 10px 0px;
	border: 3px solid #136284;
	background-color: #136284;
}

.buscar{
	color: #FFFFFF;
}

.boton_ver_mas{
	position:relative;
	width: 178px;
	height: 60px;
	left: 300px;
	bottom: 100px;
	background-color: #136284;
	border-radius: 10px;
	border-style: none;
	color: #FFFFFF;
	font-weight: 400;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	cursor: pointer
}


.botones-1y2{
	display: flex;
	margin: 50px;
}

/*--------------hover-----------------*/
.cv:hover {
	background-image: url(img/iconos/ilustracion-cv.svg);
	background-repeat: no-repeat;
}

.boton_ver_mas:hover {
	background-color: #FFFFFF;
	color: #136284;
	font-weight: 500;
	border: 2px solid #136284
}

.cv{
	background-color: #F18A12;
	border-radius: 10px;
	border-color: #F18A12;
	width: 580px;
	height: 260px;
	color: #FFFFFF;
	font-size: 1.5em;
}



.empresa:hover {
	background-image: url(img/iconos/ilustracion-empresa.svg);
	background-repeat: no-repeat;
}

.empresa{
	background-color: #136284;
	border-color: #136284;
	border-radius: 10px;
	width: 580px;
	height: 260px;
	color: #FFFFFF;
	font-size: 1.5em;
	text-decoration: none;
}

/*----------------------------------------------*/

.capacitacion{
	width: 95%;
	height: 95%;
	display:flex;
	align-items: center;
	flex-direction: column;
}

.capacitacion-mobile{
	display:none;
}

.capacitacion h3{
	margin-bottom: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.cuadro{
	width: 1197px;
	height: 550px;
	border: 2px solid #F68C0F;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.cuadro h3{
	padding-top: 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.valores {
	font-size: 1.3em;
	padding-bottom: 30px;
	padding-top: 30px;
	display: flex;
	width: 1197px;
	flex-direction: row;
	justify-content: space-evenly;
}

.valor{
	width: 250px;
	color: #136284;
}

.valoresp {
	width: 650px;
}

.articonos{
	flex-direction: row;
	display: flex;
	justify-content: space-around;
}

.iconoshome {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.3em;
	padding-bottom: 40px;
}

.inclusion{
	width: 1197px;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 90px;
	margin-right: 90px;
	margin-top: 90px;
	margin-bottom: 50px
}

.inclusion h3{
	padding-bottom: 10px;
}

.video {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px
}

.video-mobile {
	display:none;
}

.trabajadores {
	width: 1197px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: center;
}

.trabajadores img{
	border: 2px solid #F68C0F;
	border-radius: 30px;
}

.trabajadores1 {
	width: 246px;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content:space-around;
	padding-top: 7px;
	margin-bottom: 60px;
}



/*-----------------------------------------*/



/*------------------------------carrousel--------------------*/

.carrousel_lista{
	justify-content:space-around;
	position: relative;
}

.slide{
	margin: 30px;
}

.carrousel{
	background-color: #F9F8FF;
	height: 180px;
	overflow: hidden;
	position: relative;
	width: 900px;
	flex-direction: column-reverse;
	justify-content: flex-end;
	margin: 90px;
}

.carrousel::before {
	top: 0;
	left: 0;
}

.carrousel::after {
	top: 0;
	left: 0;
	transform: rotateZ(180deg);
}

.carrousel .carrousel_lista {
	animation: scroll 40s linear infinite;
	width: 100%;
	display: flex;
	text-align: center;
}

.carrousel::before, .carrousel::after {
	content: "";
	height: 100px;
	position: absolute;
	width: 200px;
	z-index: 2;
}


@keyframes scroll {
	0% { transform: translateX(0); }
	
	100% { transform: translateX(calc(-250px * 7))
	
}
}

/*-------------------------------------------------*/

@media screen and (max-width: 360px) {



/*-------------------------h1 h2 h3 h4 h5 p-----------------------------*/

	
h1{
	font-size: 1.3em;
}
	
h2{
	font-size: 1.3em;
}

h3{
	font-size: 1.3em;
}

p{
	font-size: 0.9em;
}
	
/*------------------------------------index-----------------------------*/	

h1 {
	width: 100%;
	margin-top: 0px;
}

.indexsection {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 0px;
}

.foto {
	padding-top: 80px;
	padding-bottom: 30px;
}
	
.indexsection img {
	width: 92%;
	height: 92%
}

.botonesindex{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.naranja{
	width: 145px;
	height: 100px;
	font-size: 1.3em;
	padding: 10px;
	margin: 5px;
}


/*------------chat y accesibilidad---------------*/

.ventana-chat {
	position: fixed;
	bottom:35%;
	right: 21px;
}

#contenedor-accesible{
	position: fixed;
	bottom:20%;
	right: 21px;
}

.accesibilidad-ventana {
	width: 80%;
	height: 75%;
	right: 20px;
	bottom: 20.5%;
	display: none;
	padding-left: 15px;
	padding-top: 20px;
}

.chat-popup{
	position: fixed;
	bottom:235px;
	right:132px;
	height: 290px;
	width: 190px;
	background-color: white;

}	
	
	
	
/*-----------header-----------*/

.nav-botones-derecho, .ulheader, .nav-desk, .buscasempleo, .crearcuenta, .ingresar {
	display: none;
}

header{
	padding: 0px;
	margin: 0px;
	width: 100%;
	border-bottom: 2px solid #F68C0F;
	background: #FFFFFF;
	position: fixed;		
}

.class-fixed {
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;	
}

.logo {
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	
}

.bar-btn{
	padding-right: 20px;
	padding-top: 25px;
	justify-content: flex-end;
	cursor: pointer;
}

.nav-mobile {
	display: flex;
}


.lista-nav {
	display: flex;
	flex-direction: column;
	position:fixed;
	width: 100%;
	height: 0vh;
	top: 67px;
	background: white;
	text-align: center;
	transition: all .5s;
	cursor: pointer;

}

.lista-nav li {
	display: none;
	line-height: 30px;
	margin:30px;
	transition: all .5s;
}

.lista-nav li a {
	color: #696969;
	font-size: 0.9em;
	font-weight: 400;
}

.lista-nav li a.active, .lista-nav li a:hover {
	color: #1B1B1B;
	font-weight: 500;
	transition: .3s;
}

#check{
	display:none;
}

#check:checked~.lista-nav{
	height: 100vh;
}

#check:checked~.lista-nav li{
	display: block;	
}

/*---------------------------Footer-----------------------------------*/
.footer{
	width: 320px;
	height: auto;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	border-top: 3px solid #999999;
	font-size: 0.8em;
}

.footer1{
	display: flex;
	flex-direction: column;
	padding-left: 5px;
	justify-content: space-between;
	padding-bottom: 10px;
}

.footer2 {
	margin-right: 0px;
}

.footer3{
	margin-bottom: 56px;
	padding-left: 5px;
	
}


.iconos-footer{
	width: 100%;
	height: 100%;
	margin-top: 0px;
}

	
/*----------------------------------HOME-----------------------------------*/
	
.centrado{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
	flex-wrap: wrap
}
	
.centrado-empresas {
	width: 315px;
	display: flex;
	justify-content: center;
	flex-direction:column;
	text-align: center;
	padding-top: 20px;
}

.navegador{
	width: 21%;
	height: 50px;
	margin-top: 60px;
	padding-left: 15px;
	border-radius: 12px;
}

.lupa{
	padding-right: 15px;
}

	
.buscador{
	padding-left: 5px;
	margin-right: 10px;
}

.buscatrabajo{ 
	width: 210px;
	height: 50px;
	margin-left: 5px;
	font-size: 0.9em;
}
	
/*-------------------------------*/
	
.botones-1y2{
	display: flex;
	flex-direction: column;
	padding-left: 35%;
	padding-right: 35%;
}
	
.cv{
	width: 315px;;
	height: 172px;
	font-size: 1.3em;
	margin-bottom: 10px;
	padding: 20px;
}
	
.empresa{
	font-size: 1.3em;
	width: 315px;
	height: 172px;
	padding-left: 20px;
}	

	/*----------------------------------------------*/
.capacitacion-mobile {
	display: flex;
}

.capacitacion-imagen {
	display: none;
}
	
.capacitacion{
	display:flex;
	justify-content: center;
}
	
.capacitacion h3 {
	margin-top: 20px;
	margin-bottom: 20px;	
}
	
.boton_ver_mas{
	width: 77px;
	height: 31px;
	font-size: 0.9em;
	left: 200px;
	bottom: 60px;
}

	
.cuadro{
	width: 24%;
	height: 900px;
	border: 2px solid #F68C0F;
	border-radius: 10px;
	display: flex;
	align-items: center;
}

.cuadro h3{
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
}

.valores {
	font-size: 1em;
	padding-bottom: 30px;
	padding-top: 30px;
	display: flex;
	flex-direction: row;
	width: 327px;
	text-align: center;
	flex-wrap: wrap;
}

.valor{
	width: 200px;
}

.valoresp {
	width: 280px;
	padding-bottom: 30px;
	justify-content: center;
}

.articonos{
	flex-direction:column;
	display: flex;
}

.iconoshome {
	font-size: 1em;
	padding-bottom: 60px;
}
	
.iconoshome p{
	padding-top: 15px;
}

.inclusion{
	margin-top: 60px;
	margin-bottom: 50px
}

.inclusion h3{
	padding-bottom: 20px;
}

.video {
	display: none;
}

.video-mobile {
	width: 315px;
	height: 177px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding-bottom: 5px
}

.trabajadores {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.trabajadores1 {
	padding-top: 0px;
	margin-bottom: 30px;
}
	

/*-------carrousel----------*/

.carrousel{
	width: 360px;
}


}

/*---------------------pagina conocenos---------------------*/

.apartado_conocenos{
	height: 180px;
	display: flex;
	flex-direction: row;
	padding: 150px;
	justify-content: space-evenly;
	align-items: center;
} /*
	height: 180px;
	display: flex;
	flex-direction: row;
	padding: 150px;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-content: center;
	align-items: flex-start;
}*/

.apartado_conocenos p{
	margin: 24px;
	font-size: 17px;
	font-weight: 400;
}

.apartado_conocenos h3, .apartado_conocenos h4{
	padding: 25px;
}

.columna_conocenos{
	display: flex;
	flex-direction: column;
}
/*
.columna_vertical{
	display: flex;
	flex-direction: row;
	padding: 5px;
	align-items: flex-start;
	
}

.columna_horizontal{
	display: flex;
	
}*/


/*----galeria----*/

